{% extends "base.html" %}

{% block samecontent %}{% endblock %}

{% block start %}
<div class="col-6 mx-auto border p-3 shadow-2xl rounded-2xl mt-5">
  <h1 class='text-center'>Registeration Form</h1>
<form class="mt-5 " method='post'>
  {% csrf_token %}
  {% include "alert.html" %}
    <div class="mb-3">
      <label  class="form-label">First Name:</label>
      <input type="text" class="form-control" placeholder='First Name' name="firstname">
    </div>
    <div class="mb-3">
      <label  class="form-label">Last Name:</label>
      <input type="text" class="form-control" placeholder='Last Name' name="lastname">
    </div>
    <div class="mb-3">
      <label  class="form-label">Email address</label>
      <input type="email" class="form-control" placeholder='abc@gmail.com'  name="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" placeholder='*********' name="password">
    </div>
    
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</div>
{% endblock %}